html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.footer{
    margin-top: auto;
    background-color: rgba(217, 72, 236, 0.4);
    padding-top:3rem;
    padding-bottom: 4rem;
}